body {
    width: 850px;
    text-align: justify;

}

header,
footer {
    width: 800px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-weight: bolder;
    background-color: #33ee33;
    opacity: 80%
}


button {
    margin: 2px 5px 2px 5px;
    padding: 2px 1px;
    background-color: darkslategray;
    color: white;
    border: none;
    min-width: 60px
}

select {
    margin: 2px 5px 2px 5px;
    min-width: 55px;
    padding: 2px;
    background-color: beige
}

.multi {
    border: 0px;
}

div {
    padding: 4px;
}

.frage {
    font-weight: bold;
}
